backend/danswer/chat/personas.yaml merge=ours
backend/danswer/danswerbot/slack/handlers/handle_message.py merge=ours
backend/scripts/send_slack_report/queries.py merge=ours
backend/scripts/send_slack_report/send_slack_report.py merge=ours
deployment/docker_compose/.env merge=ours
web/src/app/admin/connectors/file/page.tsx merge=ours
web/src/app/admin/connectors/github/page.tsx merge=ours
web/src/app/admin/connectors/google-drive/Credential.tsx merge=ours
web/src/app/admin/connectors/google-drive/page.tsx merge=ours
web/src/app/admin/connectors/slack/page.tsx merge=ours
web/src/app/admin/connectors/notion/page.tsx merge=ours
web/src/app/admin/connectors/productboard/page.tsx merge=ours
web/src/app/admin/connectors/guru/page.tsx merge=ours
web/src/app/admin/connectors/zulip/page.tsx merge=ours
web/src/app/admin/connectors/hubspot/page.tsx merge=ours
web/src/app/admin/connectors/gong/page.tsx merge=ours
web/src/app/admin/bot/[id]/page.tsx merge=ours
web/src/app/admin/bot/new/page.tsx merge=ours
web/src/app/admin/bot/SlackBotConfigCreationForm.tsx merge=ours
web/src/app/admin/bot/page.tsx merge=ours
web/src/app/admin/add-connector/page.tsx merge=ours
web/src/app/auth/login/page.tsx merge=ours
web/src/app/auth/signup/page.tsx merge=ours
web/src/app/chat/message/Messages.tsx merge=ours
web/src/app/chat/sessionSidebar/ChatSidebar.tsx merge=ours
web/src/app/layout.tsx merge=ours
web/src/components/health/healthcheck.tsx merge=ours
web/src/components/DanswerInitializingLoader.tsx merge=ours
web/src/components/Header.tsx merge=ours
web/src/components/WelcomeModal.tsx merge=ours
web/.next/server/app/page.js merge=ours
web/.next/static/chunks/app/page.js merge=ours
